.Polaris-Badge {
  width: fit-content !important;
}

.Polaris-Modal-Dialog__Modal {
  max-width: 480px;
}

.Polaris-EmptyState__Image,
.Polaris-EmptyState__Image img {
  opacity: 1 !important;
  filter: none !important;
}